<!DOCTYPE html>
<html>
<head>
  <title>Turbolinks 3 • TodoMVC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer id="info" data-turbolinks-permanent>
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="http://twitter.com/nateberkopec">Nate Berkopec</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>

</body>
</html>
